# .gitignore が置かれたディレクトリ内のvendorを除外
vendor
sites/default/files/php
sites/default/files/css
sites/default/files/js
composer.json
composer.lock

.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.ht.router.php
.htaccess
INSTALL.txt
LICENSE.txt
README.md
autoload.php
core/
example.gitignore
index.php
php.ini
robots.txt
sites/README.txt
sites/default/default.services.yml
sites/default/default.settings.php
sites/default/files/config_PKGWmFt3TAcobzi3gRKk4AHIoLPdcTH1QFguBgrHQTUCYYWvsmONf4fc61MK_AD-M03zCfcELA/
sites/default/files/languages/ja_aiV4sNkvFCX79Rc0Epllcp7Ti_6NzH1EqNkCR1WYeng.js 
sites/default/files/languages
sites/default/settings.php
sites/development.services.yml
sites/example.settings.local.php
sites/example.sites.php
test.html
update.php
web.config